/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title{
	font-family: 'Roboto', sans-serif;
}

.icon-block {
  padding: 0 15px;
}

.brand-logo img {
    padding-top: 5px;
    height: 60px;
}

a {
  color: #6ab344;
}

nav ul a {
  color: #757575;
  border-bottom: 4px solid transparent;
}

nav ul a:hover {
  border-bottom-color: #6ab344;
  color: #6ab344;
}

.green {
    background-color: #6ab344;
}

.cta, .cta em, .cta a {
  background-color: #6ab344;
  color: #fff;
  padding: 5px;
}