<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper container">
            <a class="brand-logo" href="/" id="logo-container">
                <img src="{{ theme:img src='androidchat-logo.svg' }}" alt="{{ _site_name }}" />
            </a>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/join">Join</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>

            <ul class="side-nav" id="nav-mobile">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/join">Join</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
            <a class="button-collapse mdi-navigation-menu" data-activates="nav-mobile" href="#" style="font-style: italic"></a>
        </div>
    </nav>
</div>