<div class="container">
    <h1 class="header center orange-text">
        <img src="{{ theme:img src='logo.png' }}" alt="{{ _site_name }}" />
    </h1>

    <div class="row center">
        <h5 class="header col s12 light">
            Talk to some of the best Android minds on the web today
        </h5>
    </div>

    <div class="row center">
        <a class="btn-large waves-effect waves-light green" href="/join">
            Join Today
        </a>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center green-text mdi-communication-chat" style="font-style: italic"></h2>

                    <h5 class="center">Simple Chat Interface</h5>
                    <p class="light">
                        <a href="https://slack.com" target="_blank">Slack</a> is a great platform for communication. Everything is in one place and searchable. Available on web, mobile &amp; desktop.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center green-text mdi-social-people" style="font-style: italic"></h2>

                    <h5 class="center">Android Lovers</h5>

                    <p class="light">Made by nerds, for nerds. Chat with the members who have Android experience to those who are learning about this awesome JavaScript framework</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center green-text mdi-hardware-keyboard-alt"
                    style="font-style: italic"></h2>

                    <h5 class="center">Made with love</h5>

                    <p class="light">This community was started because we just love Android and Slack so much. They're both pretty great and we've taken care with the creation of this channel. Thank you everyone who has joined us so far, y'all are great!</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>