<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                {{ theme:partial src="blog/listing-full" use_context="true" }}

                <div class="pagination">
                    {{ entries:previous folder="blog" }}
                        {{ if !no_results }}
                            <a href="{{ url }}" class="older">
                                <small>Previously</small><br>
                                {{ title|widont }}
                            </a>
                        {{ endif }}
                    {{ /entries:previous }}

                    {{ entries:next folder="blog" }}
                        {{ if !no_results }}
                            <a href="{{ url }}" class="newer">
                                <small>Next Up</small><br>
                                {{ title|widont }}
                            </a>
                        {{ endif }}
                    {{ /entries:next }}
                </div>
            </div>
        </div>
    </div>
</div>